/*Body*/

body{
  background-color: #000;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
}

.all-content{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

/*Wraps*/


#socialwrap{
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
}

/*Widget Wrap Disabled*/
#widget-wrap{
  position: absolute;
  height: 600px;
  opacity: .7;
  transition: 1s ease;
  display: none;
}

#widget-wrap:hover {
  opacity: 1;
}

/*Search Disabled */
#search-wrap{
  position: absolute;
  top: 30%;
  left: 0;
  right: 5%;
  width: 800px;
  height: 40px;
  margin: -83px auto 0 auto;
  display: none;
}

/*Cat*/
.main {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 65%;
  z-index: 50;
}
